In [1]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings("ignore")

In [2]:

with open('datos_scrapeados1.json', 'r') as f:
    data = f.read()

In [3]:


# Convierte el JSON en un diccionario
datos_dict = json.loads(data)

datos_dict['1'][0]

['Facial Treatment',
 'The Ordinary',
 'Niacinamide 10% + Zinc 1%',
 '(20)',
 'vegan and cruelty-free facial treatment that contains niacinamide.',
 '$6.00 at Ulta']

In [4]:
datos_dict['5'][0]

['Serum',
 'Naturium Skincare',
 'Alpha Arbutin Serum 2%',
 'vegan and cruelty-free serum that contains aha, hyaluronic acid, niacinamide and vitamin e.',
 '$19.99 at Amazon']

In [5]:
def obtener_elementos(valores):
    if len(valores) >= 4:
        if valores[2].isdigit() and valores[2].find("(") != -1 and valores[2].find(")") != -1:
            return valores[:2] + [valores[3]] + [None]
        else:
            return valores[:3] + [None]
    else:
        return valores + [None] * (4 - len(valores))

In [6]:
new_d = {'col1': [], 'col2': [], 'col3': [], 'col4': []}

# agregar los elementos de cada lista del diccionario original al nuevo diccionario
for key, value in datos_dict.items():
    for lst in value:
        elementos = obtener_elementos(lst)
        new_d['col1'].append(elementos[0] if len(elementos) >= 1 else None)
        new_d['col2'].append(elementos[1] if len(elementos) >= 2 else None)
        new_d['col3'].append(elementos[2] if len(elementos) >= 3 else None)
        new_d['col4'].append(elementos[3] if len(elementos) >= 4 else None)

df = pd.DataFrame(new_d)

In [7]:
df.head()

               col1          col2                                   col3  col4
0  Facial Treatment  The Ordinary              Niacinamide 10% + Zinc 1%  None
1           Essence         COSRX  Advanced Snail 96 Mucin Power Essence  None
2     Face Cleanser        CeraVe              Hydrating Facial Cleanser  None
3     Face Cleanser        CeraVe                Foaming Facial Cleanser  None
4  Facial Treatment  The Ordinary                Hyaluronic Acid 2% + B5  None