In [1]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings("ignore")

In [42]:

with open('datos_scrapeados1.json', 'r') as f:
    data1 = f.read()
    
with open('datos_scrapeados2.json', 'r') as f:
    data2 = f.read()

with open('datos_scrapeados3.json', 'r') as f:
    data3 = f.read()
    

with open('datos_scrapeados4.json', 'r') as f:
    data4 = f.read()


with open('datos_scrapeados5.json', 'r') as f:
    data5 = f.read()

In [43]:


# Convierte el JSON en un diccionario
datos_dict1 = json.loads(data1)
datos_dict2 = json.loads(data2)
datos_dict3 = json.loads(data3)
datos_dict4 = json.loads(data4)
datos_dict5 = json.loads(data5)

In [44]:
datos_dict_list = [datos_dict1, datos_dict2, datos_dict3, datos_dict4, datos_dict5]

In [49]:
cols = ['col1', 'col2', 'col3', 'col4']

# Diccionario vac√≠o para almacenar los valores de cada columna
new_d = {col: [] for col in cols}

# Loop para agregar los elementos de cada lista del diccionario original al nuevo diccionario
for datos_dict in datos_dict_list:
    for key, value in datos_dict.items():
        for lst in value:
            new_d['col1'].append(lst[0])
            new_d['col2'].append(lst[1])
            new_d['col3'].append(lst[2])
            new_d['col4'].append(lst[3:5])

# Crear DataFrame a partir del diccionario
df = pd.DataFrame(new_d)

# Mostrar DataFrame resultado


df.head()

,col1,col2,col3,col4
0,Facial Treatment,The Ordinary,Niacinamide 10% + Zinc 1%,"[(20), vegan and cruelty-free facial treatment..."
1,Essence,COSRX,Advanced Snail 96 Mucin Power Essence,"[(15), cruelty-free essence that contains hyal..."
2,Face Cleanser,CeraVe,Hydrating Facial Cleanser,"[(12), face cleanser that contains ceramides, ..."
3,Face Cleanser,CeraVe,Foaming Facial Cleanser,"[(8), face cleanser that contains aha, ceramid..."
4,Facial Treatment,The Ordinary,Hyaluronic Acid 2% + B5,"[(3), vegan and cruelty-free facial treatment ..."

In [53]:
df.rename(columns={'col1':'Type', 'Brand':'Name', 'col4': 'Ingredients'}, inplace=True)

In [66]:
df['Ingredients'] = df['Ingredients'].str.join(', ')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14079 entries, 0 to 14078
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Type         14079 non-null  object
 1   col2         14079 non-null  object
 2   col3         14079 non-null  object
 3   Ingredients  14079 non-null  object
dtypes: object(4)
memory usage: 440.1+ KB