In [1]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings("ignore")

In [2]:
with open('dry.json', 'r') as f:
    data= f.read()

In [3]:
dry = json.loads(data)

In [4]:
len(dry)

61

In [5]:
with open('dry.json', 'r') as f:
    dry= f.read()
with open('oil.json', 'r') as f:
    oil= f.read()
with open('acne.json', 'r') as f:
    acne= f.read()
with open('age.json', 'r') as f:
    age= f.read()
with open('brig.json', 'r') as f:
    bright= f.read()
with open('pores.json', 'r') as f:
    pores= f.read()
with open('scar.json', 'r') as f:
    scar= f.read()
with open('sensitive.json', 'r') as f:
    sens= f.read()
with open('spots.json', 'r') as f:
    spots= f.read()
with open('texture.json', 'r') as f:
    text= f.read()

In [6]:
dry = json.loads(dry)
oil = json.loads(oil)
acne = json.loads(acne)
age = json.loads(age)
bright = json.loads(bright)
pores = json.loads(pores)
scar = json.loads(scar)
sens = json.loads(sens)
spots = json.loads(spots)
text = json.loads(text)

En este caso, tenemos 61 keys, es decir 61 paginas, en cada una de ellas tenemos 3 tipos de datos, tipo, marca, y nombre, con un total de 30 productos.
Aqui key[0], sería tipo, key[1], es marca y key[2] es el nombre del porducto

In [7]:

dry_keys = dry.keys()
tipo = []
marca = []
nombre = []

for key in dry_keys:
   
        tipo.append(dry[key][0])

        marca.append(dry[key][1])
  
        nombre.append(dry[key][2])

In [8]:
tipos=[]
for i in tipo:
    for e in i:
        tipos.append(e)

marcas=[]
for i in marca:
    for e in i:
        marcas.append(e)

nombres=[]        
for i in nombre:
    for e in i:
        nombres.append(e)

In [9]:
def obtener_listados(d):
    tipo = []
    marca = []
    nombre = []
    
    for key in d.keys():
        tipo.append(d[key][0])
        marca.append(d[key][1])
        nombre.append(d[key][2])
        
    tipos = [e for i in tipo for e in i]
    marcas = [e for i in marca for e in i]
    nombres = [e for i in nombre for e in i]
    
    return tipos, marcas, nombres

In [10]:
dry_tipos, dry_marcas, dry_nombres = obtener_listados(dry)

In [11]:
len(dry_tipos)

1807

In [12]:
len(dry_marcas)

1807

In [13]:
len(oil)

161

In [14]:
data2 = {'Type': dry_tipos, 'Brand': dry_marcas, 'Name': dry_nombres}
dry = pd.DataFrame(data2)
dry['Skin'] = ['dry'] * len(dry.index)

In [15]:
tipos=[]
marcas=[]
nombres=[]
for lista in oil:
    # Agregar los valores de la primera, segunda y tercera lista de cada elemento de la lista actual a las listas correspondientes
    tipos.extend(lista[0])
    marcas.extend(lista[1])
    nombres.extend(lista[2])

In [16]:
data = {'Type': tipos, 'Brand': marcas, 'Name': nombres}
oil = pd.DataFrame(data)
oil['Skin'] = ['oil'] * len(oil.index)

In [17]:
oil.tail()

,Type,Brand,Name,Skin
4812,Face Makeup,By Terry,Hyaluronic Hydra-Foundation,oil
4813,Makeup Remover,Lancôme,Lait Galatéis Douceur,oil
4814,Sunscreen\n50 SPF,Dr. Oracle,A-Thera Sunblock SPF 50,oil
4815,Face Makeup\n50 SPF,Laneige,Skin Veil Luminizing Base with SPF50,oil
4816,Face Makeup,Holika Holika,Clearing Petit BB,oil

In [18]:
total = pd.concat([dry,oil], axis=0)

In [19]:
def obtener_listados(lista):
    tipos = []
    marcas = []
    nombres = []
    for elemento in lista:
        tipos.extend(elemento[0])
        marcas.extend(elemento[1])
        nombres.extend(elemento[2])
    return tipos, marcas, nombres

tipos1, marcas1, nombres1 = obtener_listados(acne)
tipos2, marcas2, nombres2 = obtener_listados(age)
tipos3, marcas3, nombres3 = obtener_listados(bright)
tipos4, marcas4, nombres4 = obtener_listados(pores)
tipos5, marcas5, nombres5 = obtener_listados(scar)
tipos6, marcas6, nombres6 = obtener_listados(sens)
tipos7, marcas7, nombres7 = obtener_listados(spots)
tipos8, marcas8, nombres8 = obtener_listados(text)

In [20]:
data3 = {'Type': tipos1, 'Brand': marcas1, 'Name': nombres1}
acne = pd.DataFrame(data3)
acne['Skin'] = ['acne'] * len(acne.index)

In [21]:
acne.tail()

,Type,Brand,Name,Skin
3779,General Moisturizer,Neutrogena,Clear & Defend Oil-Free Moisturiser,acne
3780,Face Makeup\n50 SPF,Laneige,Skin Veil Luminizing Base with SPF50,acne
3781,Face Cleanser,up&up,Renewing Cleanser,acne
3782,Face Cleanser,Neutrogena,Rapid Clear Stubborn Daily Acne Facial Cleanser,acne
3783,General Moisturizer,up&up,Repairing Treatment,acne

In [22]:
data4 = {'Type': tipos2, 'Brand': marcas2, 'Name': nombres2}
age = pd.DataFrame(data4)
age['Skin'] = ['age'] * len(age.index)

In [23]:
age.head()

                  Type   Brand                       Name Skin
0        Face Cleanser  CeraVe  Hydrating Facial Cleanser  age
1        Face Cleanser  CeraVe    Foaming Facial Cleanser  age
2  General Moisturizer  CeraVe         Moisturizing Cream  age
3  General Moisturizer  CeraVe  Daily Moisturizing Lotion  age
4        Face Cleanser  CeraVe       Renewing SA Cleanser  age

In [24]:
data5 = {'Type': tipos3, 'Brand': marcas3, 'Name': nombres3}
bright= pd.DataFrame(data5)
bright['Skin'] = ['brightening'] * len(bright.index)

In [25]:
data6 = {'Type': tipos4, 'Brand': marcas4, 'Name': nombres4}
pores= pd.DataFrame(data6)
pores['Skin'] = ['large pores'] * len(pores.index)

In [26]:
data7 = {'Type': tipos5, 'Brand': marcas5, 'Name': nombres5}
scar= pd.DataFrame(data7)
scar['Skin'] = ['scar healing'] * len(scar.index)

In [27]:
data8 = {'Type': tipos6, 'Brand': marcas6, 'Name': nombres6}
sens= pd.DataFrame(data8)
sens['Skin'] = ['sensitive'] * len(sens.index)

In [28]:
data9 = {'Type': tipos7, 'Brand': marcas7, 'Name': nombres7}
spots= pd.DataFrame(data9)
spots['Skin'] = ['dark spots'] * len(spots.index)

In [29]:
dataa = {'Type': tipos8, 'Brand': marcas8, 'Name': nombres8}
text= pd.DataFrame(dataa)
text['Skin'] = ['texture'] * len(text.index)

In [30]:
skincare = pd.concat([total, acne, age, bright, pores, scar, sens, spots, text], axis=0)

In [31]:
skincare[(skincare.Type == 'Face Cleanser') & (skincare.Brand == 'CeraVe')]

,Type,Brand,Name,Skin
1,Face Cleanser,CeraVe,Foaming Facial Cleanser,oil
3,Face Cleanser,CeraVe,Renewing SA Cleanser,oil
21,Face Cleanser,CeraVe,SA Smoothing Cleanser,oil
22,Face Cleanser,CeraVe,Hydrating Cream To Foam Cleanser,oil
25,Face Cleanser,CeraVe,Acne Foaming Cream Cleanser,oil
...,...,...,...,...
1973,Face Cleanser,CeraVe,Psoriasis Cleanser with Salicylic Acid Psorias...,dark spots
0,Face Cleanser,CeraVe,Renewing SA Cleanser,texture
14,Face Cleanser,CeraVe,Acne Foaming Cream Cleanser,texture
2230,Face Cleanser,CeraVe,Psoriasis Cleanser with Salicylic Acid Psorias...,texture
3795,Face Cleanser,CeraVe,Hydrating Cleanser Bar,texture

In [32]:
skincare.tail()

,Type,Brand,Name,Skin
3980,Face Cleanser,GLAMGLOW,SUPERCLEANSE™,texture
3981,Sunscreen\n30 SPF,Lancaster,Sun Beauty Velvet Touch Cream SPF30,texture
3982,Lip Moisturizer,Maybelline,Baby Lips Balm,texture
3983,Eye Makeup,Max Factor X,2000 Calorie Dramatic Volume Mascara,texture
3984,Sunscreen\n50 SPF,L'Oreal,UV Perfect City Resist SPF50+ PA++++,texture

In [33]:
skincare = skincare.reset_index(drop=True)

In [34]:
skincare.Brand.value_counts()

Neutrogena               592
Paula's Choice           589
La Roche-Posay           460
Olay                     342
L'Oreal                  341
                        ...
Pure Body Naturals         1
Jones Road                 1
we are feel good inc.      1
Open Nature                1
Ecological Formulas        1
Name: Brand, Length: 1624, dtype: int64

In [35]:
skincare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45298 entries, 0 to 45297
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Type    45298 non-null  object
 1   Brand   45298 non-null  object
 2   Name    45298 non-null  object
 3   Skin    45298 non-null  object
dtypes: object(4)
memory usage: 1.4+ MB

In [36]:
skincare.duplicated().any()

True

In [37]:
skincare = skincare.drop_duplicates()

In [38]:
skincare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44993 entries, 0 to 45297
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Type    44993 non-null  object
 1   Brand   44993 non-null  object
 2   Name    44993 non-null  object
 3   Skin    44993 non-null  object
dtypes: object(4)
memory usage: 1.7+ MB

In [39]:
skincare[skincare['Type']== 'Sunscreen\n30 SPF']

,Type,Brand,Name,Skin
346,Sunscreen\n30 SPF,Black Girl Sunscreen,Sunscreen SPF 30,dry
408,Sunscreen\n30 SPF,Mad Hippie,Facial SPF 30+ Sunscreen,dry
785,Sunscreen\n30 SPF,Drunk Elephant,Umbra™ Sheer Physical Daily Defense Broad Spec...,dry
881,Sunscreen\n30 SPF,Colorescience,Tint du Soleil SPF 30 UV Protective Foundation,dry
890,Sunscreen\n30 SPF,Supergoop!,City Sunscreen Serum SPF 30+ PA+++,dry
...,...,...,...,...
45047,Sunscreen\n30 SPF,Supergoop!,PLAY Antioxidant Body Sunscreen Mist SPF 30 PA...,texture
45115,Sunscreen\n30 SPF,Dr. Dennis Gross Skincare,All-Physical Lightweight Wrinkle Defense Broad...,texture
45135,Sunscreen\n30 SPF,Think,"Everyday Face, SPF 30+, Naturally Tinted",texture
45156,Sunscreen\n30 SPF,Your Good Skin,SPF 30 Anti-Oxidant Day Cream,texture
45294,Sunscreen\n30 SPF,Lancaster,Sun Beauty Velvet Touch Cream SPF30,texture

In [40]:
skincare.Type.unique()

array(['General Moisturizer', 'Eye Moisturizer', 'Toner', 'Serum',
       'Eye Mask', 'Facial Treatment', 'Bath & Body', 'Wet Mask',
       'Sheet Mask', 'Essence', 'Oil', 'Makeup Remover', 'Overnight Mask',
       'Other', 'Exfoliator', 'Shampoo', 'Face Cleanser', 'Sunscreen',
       'Hand Care', 'Sunscreen\n50 SPF', 'Night Moisturizer',
       'Face Makeup\n50 SPF', 'Day Moisturizer', 'Tanning', 'Lip Makeup',
       'General Moisturizer\n30 SPF', 'Other Haircare', 'Face Makeup',
       'Sunscreen\n30 SPF', 'Day Moisturizer\n30 SPF', 'Eye Makeup',
       'Lip Moisturizer\n30 SPF', 'Face Makeup\n25 SPF',
       'Lip Moisturizer', 'Lip Moisturizer\n25 SPF', 'Conditioner',
       'Sunscreen\n35 SPF', 'Cheek Makeup', 'Emulsion',
       'Sunscreen\n20 SPF', 'Lip Mask', 'Sunscreen\n45 SPF',
       'Lip Moisturizer\n15 SPF', 'Bath & Body\n50 SPF',
       'Sunscreen\n55 SPF', 'Sunscreen\n15 SPF', 'Face Makeup\n23 SPF',
       'Sunscreen\n25 SPF', 'Day Moisturizer\n15 SPF',
       'General Moisturizer\n25 SPF', 'Face Makeup\n35 SPF',
       'Day Moisturizer\n25 SPF', 'Day Moisturizer\n23 SPF',
       'Sunscreen\n40 SPF', 'Face Makeup\n15 SPF', 'Nail Care',
       'Other\n35 SPF', 'Face Makeup\n20 SPF', 'Lip Moisturizer\n50 SPF',
       'Sunscreen\n41 SPF', 'Hand Care\n25 SPF',
       'Day Moisturizer\n35 SPF', 'Face Makeup\n30 SPF',
       'Tanning\n15 SPF', 'Face Makeup\n45 SPF',
       'Day Moisturizer\n46 SPF', 'Tool', 'Sunscreen\n34 SPF',
       'Sunscreen\n60 SPF', '', 'Serum\n40 SPF',
       'Day Moisturizer\n40 SPF', 'General Moisturizer\n20 SPF',
       'Night Moisturizer\n30 SPF', 'Day Moisturizer\n20 SPF',
       'Day Moisturizer\n50 SPF', 'Lip Moisturizer\n40 SPF',
       'Sunscreen\n46 SPF', 'General Moisturizer\n15 SPF',
       'Sunscreen\n70 SPF', 'Sunscreen\n38 SPF', 'Serum\n50 SPF',
       'Face Makeup\n40 SPF', 'Sunscreen\n75 SPF',
       'General Moisturizer\n50 SPF', 'Tanning\n30 SPF',
       'Face Makeup\n33 SPF', 'Face Makeup\n28 SPF', 'Emulsion\n30 SPF',
       'False Eyelash', 'Sunscreen\n32 SPF', 'Serum\n55 SPF',
       'Day Moisturizer\n18 SPF', 'General Moisturizer\n45 SPF',
       'Sunscreen\n44 SPF', 'Eye Moisturizer\n15 SPF',
       'Sunscreen\n43 SPF', 'Lip Moisturizer\n20 SPF', 'Tanning\n25 SPF',
       'Lip Moisturizer\n45 SPF', 'Eye Moisturizer\n30 SPF',
       'Makeup Applicator', 'Face Makeup\n27 SPF',
       'Eye Moisturizer\n20 SPF', 'Sunscreen\n42 SPF',
       'Sunscreen\n68 SPF', 'Sunscreen\n36 SPF',
       'General Moisturizer\n42 SPF', 'Fragrance', 'Other\n30 SPF',
       'Serum\n30 SPF', 'Facial Treatment\n50 SPF', 'Sunscreen\n47 SPF',
       'Sunscreen\n100 SPF', 'Lip Makeup\n15 SPF', 'Serum\n60 SPF',
       'Sunscreen\n90 SPF', 'Sunscreen\n33 SPF',
       'Lip Moisturizer\n11 SPF', 'Facial Treatment\n20 SPF',
       'Serum\n45 SPF', 'Bath & Body\n15 SPF'], dtype=object)

In [41]:
skincare['Type'] = skincare['Type'].str.replace('\n', ' ').str.strip()

In [42]:
skincare.Type.unique()

array(['General Moisturizer', 'Eye Moisturizer', 'Toner', 'Serum',
       'Eye Mask', 'Facial Treatment', 'Bath & Body', 'Wet Mask',
       'Sheet Mask', 'Essence', 'Oil', 'Makeup Remover', 'Overnight Mask',
       'Other', 'Exfoliator', 'Shampoo', 'Face Cleanser', 'Sunscreen',
       'Hand Care', 'Sunscreen 50 SPF', 'Night Moisturizer',
       'Face Makeup 50 SPF', 'Day Moisturizer', 'Tanning', 'Lip Makeup',
       'General Moisturizer 30 SPF', 'Other Haircare', 'Face Makeup',
       'Sunscreen 30 SPF', 'Day Moisturizer 30 SPF', 'Eye Makeup',
       'Lip Moisturizer 30 SPF', 'Face Makeup 25 SPF', 'Lip Moisturizer',
       'Lip Moisturizer 25 SPF', 'Conditioner', 'Sunscreen 35 SPF',
       'Cheek Makeup', 'Emulsion', 'Sunscreen 20 SPF', 'Lip Mask',
       'Sunscreen 45 SPF', 'Lip Moisturizer 15 SPF', 'Bath & Body 50 SPF',
       'Sunscreen 55 SPF', 'Sunscreen 15 SPF', 'Face Makeup 23 SPF',
       'Sunscreen 25 SPF', 'Day Moisturizer 15 SPF',
       'General Moisturizer 25 SPF', 'Face Makeup 35 SPF',
       'Day Moisturizer 25 SPF', 'Day Moisturizer 23 SPF',
       'Sunscreen 40 SPF', 'Face Makeup 15 SPF', 'Nail Care',
       'Other 35 SPF', 'Face Makeup 20 SPF', 'Lip Moisturizer 50 SPF',
       'Sunscreen 41 SPF', 'Hand Care 25 SPF', 'Day Moisturizer 35 SPF',
       'Face Makeup 30 SPF', 'Tanning 15 SPF', 'Face Makeup 45 SPF',
       'Day Moisturizer 46 SPF', 'Tool', 'Sunscreen 34 SPF',
       'Sunscreen 60 SPF', '', 'Serum 40 SPF', 'Day Moisturizer 40 SPF',
       'General Moisturizer 20 SPF', 'Night Moisturizer 30 SPF',
       'Day Moisturizer 20 SPF', 'Day Moisturizer 50 SPF',
       'Lip Moisturizer 40 SPF', 'Sunscreen 46 SPF',
       'General Moisturizer 15 SPF', 'Sunscreen 70 SPF',
       'Sunscreen 38 SPF', 'Serum 50 SPF', 'Face Makeup 40 SPF',
       'Sunscreen 75 SPF', 'General Moisturizer 50 SPF', 'Tanning 30 SPF',
       'Face Makeup 33 SPF', 'Face Makeup 28 SPF', 'Emulsion 30 SPF',
       'False Eyelash', 'Sunscreen 32 SPF', 'Serum 55 SPF',
       'Day Moisturizer 18 SPF', 'General Moisturizer 45 SPF',
       'Sunscreen 44 SPF', 'Eye Moisturizer 15 SPF', 'Sunscreen 43 SPF',
       'Lip Moisturizer 20 SPF', 'Tanning 25 SPF',
       'Lip Moisturizer 45 SPF', 'Eye Moisturizer 30 SPF',
       'Makeup Applicator', 'Face Makeup 27 SPF',
       'Eye Moisturizer 20 SPF', 'Sunscreen 42 SPF', 'Sunscreen 68 SPF',
       'Sunscreen 36 SPF', 'General Moisturizer 42 SPF', 'Fragrance',
       'Other 30 SPF', 'Serum 30 SPF', 'Facial Treatment 50 SPF',
       'Sunscreen 47 SPF', 'Sunscreen 100 SPF', 'Lip Makeup 15 SPF',
       'Serum 60 SPF', 'Sunscreen 90 SPF', 'Sunscreen 33 SPF',
       'Lip Moisturizer 11 SPF', 'Facial Treatment 20 SPF',
       'Serum 45 SPF', 'Bath & Body 15 SPF'], dtype=object)

In [43]:
skincare['Type'] = skincare['Type'].str.replace(r'\d+ SPF', '')

In [44]:
skincare.Type.unique()

array(['General Moisturizer', 'Eye Moisturizer', 'Toner', 'Serum',
       'Eye Mask', 'Facial Treatment', 'Bath & Body', 'Wet Mask',
       'Sheet Mask', 'Essence', 'Oil', 'Makeup Remover', 'Overnight Mask',
       'Other', 'Exfoliator', 'Shampoo', 'Face Cleanser', 'Sunscreen',
       'Hand Care', 'Sunscreen ', 'Night Moisturizer', 'Face Makeup ',
       'Day Moisturizer', 'Tanning', 'Lip Makeup', 'General Moisturizer ',
       'Other Haircare', 'Face Makeup', 'Day Moisturizer ', 'Eye Makeup',
       'Lip Moisturizer ', 'Lip Moisturizer', 'Conditioner',
       'Cheek Makeup', 'Emulsion', 'Lip Mask', 'Bath & Body ',
       'Nail Care', 'Other ', 'Hand Care ', 'Tanning ', 'Tool', '',
       'Serum ', 'Night Moisturizer ', 'Emulsion ', 'False Eyelash',
       'Eye Moisturizer ', 'Makeup Applicator', 'Fragrance',
       'Facial Treatment ', 'Lip Makeup '], dtype=object)

In [45]:
skincare = skincare.loc[skincare['Type'] != '']

In [46]:
skincare['Type'] = skincare['Type'].str.strip()

In [47]:
skincare.Type.value_counts()

Serum                  8477
General Moisturizer    6051
Face Cleanser          3897
Sunscreen              2891
Toner                  2623
Facial Treatment       2351
Eye Moisturizer        2254
Bath & Body            1820
Exfoliator             1792
Face Makeup            1435
Wet Mask               1339
Night Moisturizer      1244
Day Moisturizer        1142
Sheet Mask              985
Lip Moisturizer         804
Essence                 756
Makeup Remover          752
Oil                     635
Overnight Mask          624
Eye Makeup              384
Eye Mask                384
Other Haircare          372
Shampoo                 311
Other                   307
Lip Makeup              298
Tanning                 257
Conditioner             193
Cheek Makeup            125
Hand Care               123
Lip Mask                110
Emulsion                101
Nail Care                92
Tool                     39
Fragrance                 9
False Eyelash             6
Makeup Applicator         6
Name: Type, dtype: int64

Eliminamos aquellos productos que no son específicos del cuidado facial.

In [48]:
indices = skincare.index[skincare['Type'].isin(['Other Haircare', 'Shampoo', 'Lip Makeup', 'Tanning', 'Conditioner', 'Cheek Makeup', 'Hand Care', 'Nail Care', 'Tool', 'Fragrance', 'False Eyelash', 'Makeup Applicator', 'Eye Makeup'])]

In [49]:
skincare = skincare.drop(indices)

In [50]:
skincare.Type.value_counts()

Serum                  8477
General Moisturizer    6051
Face Cleanser          3897
Sunscreen              2891
Toner                  2623
Facial Treatment       2351
Eye Moisturizer        2254
Bath & Body            1820
Exfoliator             1792
Face Makeup            1435
Wet Mask               1339
Night Moisturizer      1244
Day Moisturizer        1142
Sheet Mask              985
Lip Moisturizer         804
Essence                 756
Makeup Remover          752
Oil                     635
Overnight Mask          624
Eye Mask                384
Other                   307
Lip Mask                110
Emulsion                101
Name: Type, dtype: int64

In [51]:
skincare.Name.unique()[:20]

array(['Natural Moisturizing Factors + HA', 'Eye Repair Cream',
       'Supple Preparation Unscented Toner',
       'Freshly Juiced Vitamin Drop', 'Squalane + Peptide Eye Gel',
       'Rose & Pomegranate Face Cream Moisturizer',
       'Gokujyun Premium Lotion',
       'Moisture Surge 72-Hour Auto-Replenishing Hydrator',
       'Moisture Surge™ 100-Hour Auto-Replenishing Hydrator',
       'Bifida Biome Aqua Barrier Cream',
       'Youth Recovery & Blemish Defense Night Serum',
       'Supple Preparation Facial Toner',
       'Green Tangerine Vita C Dark Spot Serum',
       'Vitamin C Super Serum Plus', 'TGF-B Booster',
       'Cica Care Clearing Ampoule',
       'Avocado Melt Retinol Eye Sleeping Mask',
       'Vita C Plus Spot Correcting & Firming Ampoule',
       'Stem Cellular Instant Eye Lift Algae Mask - Single',
       'Hidratante Firmador'], dtype=object)

In [52]:
skincare.Brand.value_counts()[:100]

Paula's Choice       588
Neutrogena           582
La Roche-Posay       451
Olay                 337
Eminence Organics    318
                    ...
Allies of Skin       102
Philosophy           102
Rovectin             101
Gold Bond            100
Mediheal              97
Name: Brand, Length: 100, dtype: int64

Vamos a eliminar todas aquellas marcas que tengan menos de 50 productos , para quedarnos con las marcas que sean mas conocidas y sencillo de conseguir.

In [53]:
skincare= skincare.groupby('Brand').filter(lambda x: len(x) >= 50)

In [54]:
skincare.Brand.value_counts()

Paula's Choice       588
Neutrogena           582
La Roche-Posay       451
Olay                 337
Eminence Organics    318
                    ...
Algenist              51
Principia             50
alpyn beauty          50
HYGGEE                50
Herbivore             50
Name: Brand, Length: 214, dtype: int64

In [55]:
skincare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26001 entries, 0 to 45297
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Type    26001 non-null  object
 1   Brand   26001 non-null  object
 2   Name    26001 non-null  object
 3   Skin    26001 non-null  object
dtypes: object(4)
memory usage: 1015.7+ KB

In [56]:
skincare = skincare.reset_index(drop=True)

In [57]:
skincare.head()

                  Type         Brand                                Name Skin
0  General Moisturizer  The Ordinary   Natural Moisturizing Factors + HA  dry
1      Eye Moisturizer        CeraVe                    Eye Repair Cream  dry
2                Toner  Dear, Klairs  Supple Preparation Unscented Toner  dry
3                Serum  Dear, Klairs         Freshly Juiced Vitamin Drop  dry
4      Eye Moisturizer     Biossance          Squalane + Peptide Eye Gel  dry

In [58]:
skincare['Producto'] = skincare['Brand'] + ' ' + skincare['Name']

In [59]:
skincare.head()

,Type,Brand,Name,Skin,Producto
0,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,dry,The Ordinary Natural Moisturizing Factors + HA
1,Eye Moisturizer,CeraVe,Eye Repair Cream,dry,CeraVe Eye Repair Cream
2,Toner,"Dear, Klairs",Supple Preparation Unscented Toner,dry,"Dear, Klairs Supple Preparation Unscented Toner"
3,Serum,"Dear, Klairs",Freshly Juiced Vitamin Drop,dry,"Dear, Klairs Freshly Juiced Vitamin Drop"
4,Eye Moisturizer,Biossance,Squalane + Peptide Eye Gel,dry,Biossance Squalane + Peptide Eye Gel

In [60]:
skincare.Producto.value_counts()[:250]

PURITO AHA BHA Refreshing Solution                                                      14
Revolution Beauty Multi Acid Peeling Solution                                           14
SLMD Glycolic Acid Body Lotion                                                          12
TONYMOLY Firming Ampoule                                                                10
SkinBetter Science AlphaRet Overnight Cream                                             10
                                                                                        ..
Allies of Skin Peptide & Antioxidants Firming Daily Treatment                            9
Derma E Anti Wrinkle Cream                                                               9
Pacifica Wake Up Beautiful Retinoid Serum                                                9
Skintific 5X Ceramide Low PH Cleanser                                                    9
Peter Thomas Roth Max Sheer All Day Moisture Defense® Lotion SPF 30 Sunscreen Lotion     9
Name: Producto, Length: 250, dtype: int64

In [61]:
skincare.Brand.value_counts()

Paula's Choice       588
Neutrogena           582
La Roche-Posay       451
Olay                 337
Eminence Organics    318
                    ...
Algenist              51
Principia             50
alpyn beauty          50
HYGGEE                50
Herbivore             50
Name: Brand, Length: 214, dtype: int64

In [62]:
len(skincare.Producto.unique())

6181

In [63]:
skincare= skincare.groupby('Producto').filter(lambda x: len(x) >= 5)

In [64]:
skincare.Producto.value_counts()

Revolution Beauty Multi Acid Peeling Solution        14
PURITO AHA BHA Refreshing Solution                   14
SLMD Glycolic Acid Body Lotion                       12
BRTC Vitalizer C-10 Ampoule Rich in Vitamin C        10
Sallve Antioxidante Hidratante                       10
                                                     ..
Mary & May Hyaluronic Panthenol Hydra Mask            5
Pacifica Dry It Out Acne Gel Spot Treatment           5
Some By Mi Rose Intensive Tone-Up Cream               5
The Purest Solutions Niacinamide 5% + Zinc PCA 1%     5
Shiseido White Lucent Anti-Dark Circles Eye Cream     5
Name: Producto, Length: 2634, dtype: int64

In [65]:
skincare.Type.value_counts()

Serum                  3781
General Moisturizer    2461
Face Cleanser          1492
Eye Moisturizer        1227
Toner                  1187
Facial Treatment       1146
Exfoliator              931
Sunscreen               873
Bath & Body             711
Night Moisturizer       667
Wet Mask                591
Day Moisturizer         520
Sheet Mask              379
Face Makeup             327
Essence                 297
Overnight Mask          249
Oil                     201
Lip Moisturizer         164
Makeup Remover          150
Eye Mask                133
Other                    99
Emulsion                 23
Lip Mask                 10
Name: Type, dtype: int64

Nos quedamos con las columnas que tienen más importancia para una buena rutina de skincare

In [66]:
categories = ['Serum', 'General Moisturizer', 'Face Cleanser', 'Eye Moisturizer', 'Toner', 'Facial Treatment', 'Sunscreen', 'Night Moisturizer', 'Day Moisturizer']

In [67]:
skincare = skincare[skincare['Type'].isin(categories)]

In [68]:
productos= list(skincare.Producto.unique())

In [69]:
with open('productos.txt', 'w') as file:
    for producto in productos:
        file.write(producto + '\n')

In [70]:
with open('review.json', 'r') as f:
    rev= f.read()

In [71]:
reviews= json.loads(rev)

In [72]:
rev = pd.DataFrame(reviews)

In [73]:
rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Producto           2280 non-null   object
 1   Nombre encontrado  2261 non-null   object
 2   Nota               2261 non-null   object
 3   Reseñas            2261 non-null   object
dtypes: object(4)
memory usage: 71.4+ KB

In [74]:
skincare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 26000
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      13354 non-null  object
 1   Brand     13354 non-null  object
 2   Name      13354 non-null  object
 3   Skin      13354 non-null  object
 4   Producto  13354 non-null  object
dtypes: object(5)
memory usage: 626.0+ KB

In [75]:
total = pd.merge(rev , skincare, on ='Producto')

In [76]:
total.duplicated().any()

False

In [77]:
total = total.drop(['Producto', 'Nombre encontrado'], axis=1)

In [78]:
total.head()

,Nota,Reseñas,Type,Brand,Name,Skin
0,4.6,"(11,060)",General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,dry
1,4.6,"(11,060)",General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,age
2,4.6,"(11,060)",General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,brightening
3,4.6,"(11,060)",General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,large pores
4,4.6,"(11,060)",General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,scar healing

In [79]:
total['Reseñas'] = total['Reseñas'].str.replace('[()]', '')

In [80]:
total['Nota'] = total['Nota'].astype(float)

In [81]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 13353
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nota     13266 non-null  float64
 1   Reseñas  13266 non-null  object
 2   Type     13354 non-null  object
 3   Brand    13354 non-null  object
 4   Name     13354 non-null  object
 5   Skin     13354 non-null  object
dtypes: float64(1), object(5)
memory usage: 730.3+ KB

In [82]:
total.dropna(inplace=True)

In [83]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13266 entries, 0 to 13353
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nota     13266 non-null  float64
 1   Reseñas  13266 non-null  object
 2   Type     13266 non-null  object
 3   Brand    13266 non-null  object
 4   Name     13266 non-null  object
 5   Skin     13266 non-null  object
dtypes: float64(1), object(5)
memory usage: 725.5+ KB

In [84]:
total.Type.unique()

array(['General Moisturizer', 'Eye Moisturizer', 'Toner', 'Serum',
       'Facial Treatment', 'Sunscreen', 'Face Cleanser',
       'Night Moisturizer', 'Day Moisturizer'], dtype=object)

In [85]:

# Definir el nuevo orden de las columnas
new_order = ['Type', 'Name', 'Brand', 'Skin', 'Nota', 'Reseñas']

# Utilizar el método .reindex() para reordenar las columnas
total = total.reindex(columns=new_order)

In [86]:
total.head()

,Type,Name,Brand,Skin,Nota,Reseñas
0,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,dry,4.6,"11,060"
1,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,age,4.6,"11,060"
2,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,brightening,4.6,"11,060"
3,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,large pores,4.6,"11,060"
4,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,scar healing,4.6,"11,060"

In [87]:
total= total.rename(columns={'Nota': 'Rating', 'Reseñas': 'Reviews'})

In [88]:
total.head()

,Type,Name,Brand,Skin,Rating,Reviews
0,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,dry,4.6,"11,060"
1,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,age,4.6,"11,060"
2,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,brightening,4.6,"11,060"
3,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,large pores,4.6,"11,060"
4,General Moisturizer,Natural Moisturizing Factors + HA,The Ordinary,scar healing,4.6,"11,060"

In [89]:
total['Reviews'] = total['Reviews'].str.replace('.', '')

In [90]:
total.Reviews.unique()

array(['11,060', '48,908', '3,869', '8,858', '7,321', '483', '28',
       '1,239', '4', '81,290', '4,879', '3', '1,703', '11', '136,163',
       '3,911', '3,136', '6', '2,068', '33,828', '1,031', '19', '15',
       '4,264', '952', '52,401', '149', '7,785', '459', '532', '35,627',
       '1,342', '2,874', '1,197', '24,522', '25,901', '7,759', '23,659',
       '123', '694', '1,072', '263', '118,296', '27,117', '4,395',
       '1,331', '1', '1,385', '641', '265', '24', '798', '338', '5,548',
       '695', '3,539', '12', '78,562', '1,042', '37,500', '46', '1,133',
       '6,346', '141', '15,358', '108', '5,189', '6,955', '511', '177',
       '92', '115,753', '625', '69,840', '1,407', '647', '7', '220', '74',
       '804', '453', '1,761', '1,423', '13', '709', '209', '42,320',
       '1,838', '3,098', '97', '974', '41,645', '2,041', '819', '271',
       '26,837', '375', '1,791', '504', '17,314', '39', '259', '41,069',
       '94', '59', '30,939', '88', '119', '949', '87', '1,079', '30',
       '1,879', '1,231', '5,168', '676', '5,063', '517', '470', '8,671',
       '923', '89', '51', '533', '7,609', '363,220', '2', '40', '4,676',
       '864', '121', '5,007', '861', '2,574', '1,045', '38', '22,699',
       '1,693', '340', '83', '506', '597', '46,236', '352', '386', '175',
       '52', '35', '714', '15,657', '485', '4,602', '116', '143', '184',
       '8,705', '251', '18', '15,469', '465', '1,201', '1,050', '14,633',
       '4,969', '38,864', '12,454', '4,918', '23', '17,999', '414', '125',
       '1,366', '65,451', '1,055', '2,202', '213', '237', '2,281', '37',
       '551', '17,311', '45', '8,614', '308', '4,959', '16,483', '298',
       '273', '2,367', '1,012', '346', '1,948', '69', '16,027', '56',
       '912', '11,813', '233', '238', '2,519', '1,912', '18,066',
       '34,945', '21', '10,148', '49', '2,025', '111,827', '843', '1,621',
       '710', '14', '567', '26,251', '334', '6,758', '510', '445',
       '1,192', '369', '38,566', '1,193', '44', '1,968', '9', '24,150',
       '24,203', '18,767', '4,401', '72,096', '54,633', '5,334', '2,388',
       '1,485', '6,477', '5,687', '1,680', '419', '6,164', '34,016',
       '26,721', '197', '1,447', '1,225', '3,378', '7,102', '480', '602',
       '5,387', '2,056', '8', '2,984', '7,444', '2,059', '642', '1,918',
       '624', '13,909', '215,169', '2,000', '2,624', '844', '63', '941',
       '8,593', '4,237', '215', '2,077', '685', '2,213', '5,762', '657',
       '5', '3,507', '50', '1,168', '2,983', '151', '120', '32', '68,702',
       '2,024', '1,787', '13,513', '5,098', '68', '78,563', '162', '16',
       '20', '11,145', '858', '142', '665', '1,803', '7,195', '2,147',
       '330', '58', '77', '1,105', '784', '509', '5,741', '6,650',
       '1,694', '1,472', '225', '17', '723', '1,114', '12,190', '1,305',
       '377', '6,756', '1,517', '8,591', '9,212', '1,026', '195', '389',
       '332', '1,041', '2,373', '174', '2,936', '1,492', '1,460', '66',
       '13,882', '1,276', '31', '290', '394', '91', '21,814', '31,083',
       '978', '26,360', '4,929', '230', '402', '4,725', '29,416', '126',
       '3,822', '1,739', '703', '4,869', '1,726', '14,910', '303',
       '17,847', '1,574', '189', '368', '4,919', '131', '6,894', '766',
       '2,337', '648', '136,164', '68,703', '873', '574', '8,861', '979',
       '2,170', '19,893', '408', '24,895', '33', '3,443', '2,387', '357',
       '62,227', '1,267', '41,213', '15,857', '353', '1,965', '3,558',
       '1,465', '11,558', '1,997', '627', '966', '2,238', '1,127', '103',
       '314', '10,603', '25', '503', '82', '5,628', '152', '9,281',
       '2,791', '809', '19,768', '339', '6,938', '792', '3,219', '797',
       '2,654', '9,198', '473', '286', '2,403', '900', '2,598', '3,255',
       '1,136', '15,552', '10,408', '572', '12,222', '4,153', '2,655',
       '749', '5,366', '245', '4,134', '6,390', '7,545', '72,144',
       '10,665', '11,656', '1,204', '51,742', '2,212', '1,915', '17,765',
       '10,815', '1,516', '3,982', '254', '838', '1,134', '4,499',
       '14,618', '7,698', '45,152', '713', '6,487', '2,457', '3,872',
       '475', '7,803', '18,161', '250', '4,999', '163', '14,294', '2,407',
       '18,183', '9,415', '2,287', '951', '1,764', '593', '559', '304',
       '783', '2,843', '5,713', '4,139', '52,259', '5,220', '632', '825',
       '3,113', '117', '215,170', '41,293', '538', '8,331', '341',
       '11,075', '3,733', '173', '1,473', '479', '464', '10,046', '5,049',
       '80', '168', '315', '27', '4,675', '23,660', '21,746', '1,976',
       '32,188', '29', '1,316', '3,994', '3,488', '106', '1,536',
       '26,972', '946', '3,248', '4,010', '2,040', '750', '22,705', '280',
       '34', '10', '42', '1,927', '762', '903', '5,728', '249', '8,096',
       '1,066', '2,391', '75', '1,089', '934', '257', '420', '544',
       '1,857', '262', '371', '3,899', '36,057', '1,886', '617', '8,162',
       '359', '46,237', '222', '7,702', '22,449', '1,526', '5,272',
       '7,770', '5,753', '2,996', '7,263', '2,370', '4,525', '17,319',
       '2,187', '6,221', '2,018', '185', '10,364', '5,044', '3,060',
       '171', '2,710', '52,046', '110', '15,472', '2,737', '3,363', '738',
       '698', '1,142', '15,127', '913', '1,699', '3,789', '1,073',
       '6,049', '212', '5,678', '2,236', '19,469', '12,289', '2,993',
       '2,189', '5,990', '791', '25,859', '3,329', '2,693', '3,755',
       '4,958', '22,329', '1,585', '887', '387', '1,293', '9,470',
       '1,880', '2,696', '835', '277', '192', '1,889', '2,612', '1,805',
       '81', '4,936', '13,306', '1,093', '161', '104', '246', '1,015',
       '21,822', '836', '11,611', '1,820', '48,451', '513', '1,383',
       '767', '88,102', '3,141', '167', '11,561', '935', '2,782', '1,989',
       '54', '199', '1,130', '5,701', '55', '13,341', '450', '398',
       '4,310', '5,326', '5,714', '336', '1,872', '905', '628', '2,875',
       '12,231', '15,709', '1,186', '726', '64', '41,212', '7,322', '294',
       '16,349', '61', '9,489', '3,759', '1,712', '943', '53', '134',
       '122', '144'], dtype=object)

In [93]:
total['Reviews'] = total['Reviews'].str.replace(',', '')

In [94]:
total['Reviews'] = total['Reviews'].astype(int)

In [95]:
total['Product'] = total['Name'].str.cat(total['Brand'], sep=' - ')

In [96]:
total= total.drop(columns= ['Name', 'Brand', ], axis=1)

In [101]:
total.to_csv('skincaret.csv')