In [7]:
import json
import pandas as pd
import numpy as np
import json
import warnings

In [8]:
with open('resultados.json', 'r') as f:
    data= f.read()

In [22]:
lista = json.loads(data)

In [28]:
[x for x in lista len(x)==18]

SyntaxError: invalid syntax (2769495329.py, line 1)

In [35]:
lista[0]

{'Producto': 'The Ordinary Natural Moisturizing Factors + HA',
 'Reseñas': ['',
  'El 76% de las opiniones tienen 5 estrellas',
  'El 76% de las opiniones tienen 5 estrellas',
  'El 13% de las opiniones tienen 4 estrellas',
  'El 13% de las opiniones tienen 4 estrellas',
  'El 7% de las opiniones tienen 3 estrellas',
  'El 7% de las opiniones tienen 3 estrellas',
  'El 2% de las opiniones tienen 2 estrellas',
  'El 2% de las opiniones tienen 2 estrellas',
  'El 3% de las opiniones tienen 1 estrellas',
  'El 3% de las opiniones tienen 1 estrellas',
  '',
  '',
  '',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '4.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '4.0 de 5 estrellas',
  '',
  '4.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '']}

In [92]:
# Crear listas vacías
productos = []
reviews = []

# Iterar sobre cada diccionario en la lista
for i in lista:
    for key, values in i.items():
        # Agregar valores a la lista correspondiente
        if key == 'Producto':
            productos.append(values)
        elif key == 'Reseñas':
            reviews.append(values)

In [123]:


filtered_reviews = []

for review in reviews:
    if review is not None and isinstance(review, list):
        product_reviews = []
        for item in review:
            if isinstance(item, str) and len(item) == 18:
                product_reviews.append(item)
        filtered_reviews.append(product_reviews)

In [139]:
filtered_reviews[0]

['5.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '4.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '4.0 de 5 estrellas',
 '4.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '5.0 de 5 estrellas']

In [138]:
import pandas as pd

# Lista de listas con diferente longitud
data = [['A', 'B', 'C'], ['D', 'E'], ['F', 'G', 'H', 'I']]

# Encontrar el número máximo de columnas
max_cols = max(len(row) for row in filtered_reviews)

# Crear lista de nombres de columna de igual longitud
column_names = [f'usuario_{i+1}' if i < len(filtered_reviews[0]) else None for i in range(max_cols)]

# Crear DataFrame
df = pd.DataFrame(filtered_reviews, columns=column_names)

# Imprimir el resultado
df.head()

,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10
0,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas
1,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas
2,5.0 de 5 estrellas,5.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas
3,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,3.0 de 5 estrellas,4.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,3.0 de 5 estrellas
4,5.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,1.0 de 5 estrellas,1.0 de 5 estrellas,1.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas

In [70]:
# Crear un diccionario vacío para almacenar los datos
datos = {}

# Iterar sobre cada producto en la lista de datos
for producto in lista:
    # Comprobar si el producto tiene reseñas
    if 'Reseñas' in producto:
        # Extraer el nombre del producto
        nombre_producto = producto['Producto']

        # Crear un diccionario vacío para almacenar las puntuaciones
        puntuaciones = {}

        # Iterar sobre cada reseña y extraer la calificación si es 5 estrellas
        for r in producto['Reseñas']:
            if "5.0 de 5 estrellas" in r:
                # Extraer la reseña
                res = r.strip()
                # Añadir la reseña al diccionario de puntuaciones
                puntuaciones[len(puntuaciones)+1] = res

        # Añadir el diccionario de puntuaciones al diccionario de datos
        datos[nombre_producto] = puntuaciones

# Crear el dataframe a partir del diccionario de datos
df = pd.DataFrame.from_dict(datos, orient='index')

TypeError: 'NoneType' object is not iterable

In [69]:
df

Empty DataFrame
Columns: []
Index: []

In [36]:
import pandas as pd


df = pd.DataFrame(lista={'Puntuaciones': [r for r in data['Reseñas'] if 'estrellas' in r],
                         'Producto': data['Producto']})

# Dividir la columna "Puntuaciones" en diferentes columnas por cada usuario
df[['Usuario1', 'Usuario2', 'Usuario3', 'Usuario4', 'Usuario5', 'Usuario6', 'Usuario7',
    'Usuario8', 'Usuario9', 'Usuario10']] = df['Puntuaciones'].str.split(',', expand=True)

# Eliminar los caracteres no deseados de las puntuaciones de cada usuario
for c in df.columns[1:]:
    df[c] = df[c].str.extract('(\d\.\d)', expand=True)

# Eliminar la columna "Puntuaciones" que ya no es necesaria
df = df.drop('Puntuaciones', axis=1)

print(df)

TypeError: string indices must be integers